body
{
    background-color: aliceblue;
}

.Name_Center{
    text-align: center;
    color: lightslategray;
    padding: 10px;
}


.rounded {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

 
    .navbar .logo {
        color: #A9A9A9;
        font-size: 24px;
        text-decoration: none;
    }


.nav-links {
    list-style-type: none;
    display: flex;
    color: #A9A9A9;
}

    .nav-links li {
        margin-left: 20px;
    }

    .nav-links a {
        color: #A9A9A9;
        text-decoration: none;
        font-size: 18px;
    }

        .nav-links a:hover {
            color: #ff6347; /* Optional: Change color on hover */
        }

/* Mobile-Friendly Responsive Navbar */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
    }

    /* Show links on small screens when menu is active */
    .navbar.active .nav-links {
        display: flex;
        position: absolute;
        top: 20px;
        background-color: #333;
        width: 100%;
    }
}
/* Hamburger Icon Styling */
.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.navbar.active .menu-icon::before {
    content: "\f00d";
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo_WPF {
    margin: 0 auto;
    padding: 10px;
    width: 800px;
    height: 400px;
}

.Pics {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.Certs-Titles {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
}

.skill-sets {
    padding: 10px;
}

.About-Me {
    margin: 0 auto;
    padding: 10px;
}

.bi bi-github {
    margin: 0 auto;
    display: flex;
    width: 200px;
}

.Projects {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

.Project_Title {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}


